/** @format */

.player {
  background-color: blueviolet;
  width: auto;
  height: auto;
  border-color: black;
  border-radius: 10px;
  border-width: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: large;
  font-weight: 700;
  color: white;
  justify-content: center;
  justify-items: center;
}
